@model Auction.Models.DomainModels.Lot

@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-danger">
    <div class="panel-heading">
        <h1 class="panel-title no-shadow">Care!</h1>
    </div>
    <div class="panel-body">
        <h2 class="text-center">
            Are you sure you want to delete "@Html.DisplayFor(model => model.Name)" lot?
        </h2>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" class="btn btn-danger" />
}  

@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-backward fa-2x", title = "Back to lots" })


