@model IEnumerable<Auction.Web.ViewModels.LotViewModel>

@{
    ViewBag.Title = "Stakes";
}

<h1 class="well well-lg text-center">
    Lots and their stakes
</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Moderator"))
{
    <p class="no-shadow">
        @Html.ActionLink("Add new lot", "Create", null, new { @class = "btn btn-info block-frame", title = "" })
    </p>
}     

<div id="lotsAndStakes">
    @Html.Partial("_lotsAndStakes", Model)
</div>  