@using Auction.Controllers
@model IEnumerable<Auction.ViewModels.LotViewModel>

@{
    ViewBag.Title = "Sold lots";
}

<h1 class="well well-lg text-center">
    Sold lots
</h1>

<div id="soldLots">
    @Html.Partial("_soldLots", Model)
</div>  