@{
    ViewBag.Title = "Home Page";
}
<figure class="well well-lg text-center font-bordered ">
    <figcaption>
        <h1>
            Auction
        </h1>
    </figcaption>
    <img class="blink img-main" src="@Url.Content("~/Content/Images/Background-images/Main.jpg")" />
</figure>